<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
    <div id="line1" height="1000px">
        <canvas id="voteChart"/>
    </div>
    <script type="text/javascript">
        // String format function
        const format = (str2Format, ...args) =>
            str2Format.replace(/(\{\d+\})/g, a => args[+(a.substr(1, a.length - 2)) || 0] );

        function lineChart(ele, rdata) {
            new Chart(ele, {
                type: 'line',
                data: {
                    labels: rdata['xvals'],
                    datasets: [{
                        label: "Consolidation",
                        data: rdata['yvals'],
                        borderColor: "red",
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    legend: { display: true },
                    title: {
                        display: true,
                        text: "Hudson Consolidation Vote"
                    },
                    tooltips: {
                        enabled: true,
                        mode: 'single',
                        callbacks: {
                            <!-- Insert cons and prep totals per data item. -->
                            label: function (tooltipItems, data) {
                                console.log(tooltipItems)
                                console.log(data)
                                return format("{0} C:{1} P:{2}", tooltipItems.yLabel, rdata["cons_totals"][tooltipItems.index], rdata["prep_totals"][tooltipItems.index])
                            }
                        }
                    }
                }
            })
        }
        lineChart(document.getElementById("voteChart"), {{data}});
    </script>
</body>
