# Discord bot service, put in: /etc/systemd/system
[Unit]
Description=Federal Discord Bot
After=network.target

[Service]
Type=simple
User=USER
Environment=PYTHONPATH=REPLACE/cogBot
Environment=COG_TOKEN=prod
ExecStart=REPLACE/cog/.pyenv/shims/python REPLACE/cogBot/cog/bot.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
